img#id-1 {
  border: 1px solid black;
  z-index: -1;
  position: absolute;
  width: 250px;
  right: -5px;
  top: 300px;
}

img#id-2 {
  border: 1px solid black;
  z-index: -2;
  position: absolute;
  width: 225px;
  left: 100px;
  top: 10px;
}

img#id-3 {
  border: 1px solid black;
  z-index: -1;
  position: absolute;
  width: 275px;
  top: 475px;
  right: 600px;
}

img#id-4 {
  border: 1px solid black;
  z-index: -1;
  position: absolute;
  width: 275px;
  top: 40px;
  right: 325px;
}
