#id-1,
#id-2,
#id-3,
#id-4 {
  border: 1px solid black;
  z-index: -1;
  position: absolute;
}

img#id-1 {
  width: 250px;
  right: -5px;
  top: 300px;
}

img#id-2 {
  z-index: -2;
  width: 225px;
  left: 100px;
  top: 10px;
}

img#id-3 {
  width: 275px;
  top: 525px;
  right: 600px;
}

img#id-4 {
  width: 275px;
  top: -5px;
  right: 325px;
}

@media (max-width: 1130px) {
  img#id-1 {
    top: 450px !important;
  }

  img#id-3 {
    top: 600px !important;
  }
}

@media (max-width: 960px) {
  #id-1,
  #id-2,
  #id-3,
  #id-4 {
    display: none;
  }
}
